<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



   <div class="header1">
    <h1>Welcome to my <%= title %> page</h1>
  </div>
  <div id="project">
 
    <h3>My projects:</h3>
    <ol>
        <li>  <a href="http://studentweb.cencol.ca/mhoss206/assignment-4/assignment4.html"> My form preparation project </a></li>
        <li>  <a href="http://studentweb.cencol.ca/mhoss206/assignment-1/"> My Home Page </a></li>
        <li> <a href="http://studentweb.cencol.ca/mhoss206/assignment-2/assignment2.html">Websites About Protected Areas in Canada</a></li>
        <li> <a href="http://studentweb.cencol.ca/mhoss206/assignment-3/assignment3_ripon.html">Asus product advartizement website</a></li>
    </ol>

</div>
      
          <%- include partials/bottom_nav.ejs %>  

          <%- include partials/footer.ejs %>